<!doctype html>

<html>

<head>
	<title>{{ item.title }} - {{ blog.title }}</title>

	<!-- Meta -->
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="{{ blog.title }}" href="{{ blog.url }}/feed.xml" />

	<!-- Bootstrap glyphicons-->
	<link rel="stylesheet" href="{{ blog.url }}/assets/bootstrap.css">

	<!-- Custom -->
	<link rel="stylesheet" href="{{ blog.url }}/assets/style.css">
</head>


<body>
	<div class="wrapper">

		<!-- Header Section -->
		<div class="header">
			<h1>{{ blog.title }}</h1>
		</div>


		<!-- Nav Section -->
		<div class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand{% if item.title == 'Home' %} active{% endif %}" href="{{ blog.url }}">{{ blog.titleshort }}</a>
				</div>
				<div class="navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{ blog.url }}/posts/"{% if item.title == 'Posts' %} class="active"{% endif %}>Archive</a></li>
						{% for page in blog.pages %}
						    {% if page.title == item.title %}
							<li><a href="{{ blog.url }}/pages/{{ page.titleshort }}" class="active">{{ page.title }}</a></li>
							{% else %}
							<li><a href="{{ blog.url }}/pages/{{ page.titleshort }}">{{ page.title }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>


		<!-- Main Section -->
		<div class="main section">
			<div class="content container">
				{% block content %}{% endblock %}
			</div>
		</div>


		<!-- Footer Section -->
		<div class="footer section">
			<div class="content container">
				<small>&copy; {{ blog.titleshort }} {{ "now"|date("Y") }}</small>
			</div>
		</div>
	</div>
</body>

</html>
