{% extends 'base.html' %}

{% block content %}

<h1>{{item.type}}: {{ item.title }}</h1>

{% set data = {"posts": posts, "pages": pages} %}
{% for type in ['posts', 'pages'] %}
	{% if attribute(data, type) %}
	<h2>{{ type|capitalize }}</h2>

	<div class="list-group">
		{% for item in attribute(data, type) %}
			<a href="{{ blog.url }}/{{ type }}/{{ item.titleshort }}" class="list-group-item">
				<h4 class="list-group-item-heading">{{ item.title }}</h4>
				{% set title = item.title %}
				<p class="list-group-item-text">{{ item.description }}</p>
			</a>
		{% endfor %}
	</div>
	{% endif %}

{% endfor %}

{% endblock %}
