{% extends 'base.html' %}

{% block content %}

<h1>{{item.type}}: {{ item.title }}</h1>

{% set data = {"posts": posts, "pages": pages} %}
{% for type in ['posts', 'pages'] %}
	<h2>{{ type|capitalize }}</h2>

	<div class="list-group">
		{% for item in attribute(data, type) %}
			<a href="../../{{ type }}/{{ item.titleshort }}" class="list-group-item">
				<h4 class="list-group-item-heading">{{ item.title }}</h4>
				<p class="list-group-item-text">{{ item.content|striptags[:280]}}{% if item.content|striptags|length > 280 %}...{% endif %}</p>
			</a>
		{% endfor %}
	</div>

{% endfor %}

{% endblock %}
