{% extends 'base.html' %}

{% block content %}

<div class="page-content">
	{{ item.content|raw }}
</div>

<div class="page-meta meta panel panel-default">
	<div class="panel-body">
		{% if item.categories %}
		<div class="page-categories">
			{% for category in item.categories %}
				<a href="{{ blog.url }}/categories/{{ category.titleshort }}/" class="category" title="Category: {{ category.title }}"><i class="glyphicon glyphicon-bookmark icon-white"></i> {{ category.title }}</a> 
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}
