{% extends 'base.html' %}

{% block content %}

<div class="post-content">
	{{ item.content|raw }}
</div>

<div class="post-meta meta">
	<div class="post-date">
		DATE: {{ item.date|date("Y-m-d H:i") }}
	</div>
	<div class="post-tags">
		TAGS: 
		{% for tag in item.tags %}
			<a href="../../tags/{{ tag.titleshort }}/" class="tag">{{ tag.title }}</a> 
		{% endfor %}
	</div>
	<div class="post-categories">
		CATEGORIES: 
		{% for category in item.categories %}
			<a href="../../categories/{{ category.titleshort }}/" class="category">{{ category.title }}</a> 
		{% endfor %}
	</div>
</div>

{% endblock %}
